* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.form {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 10px 15px;
  font-size: 1.1em;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.qr-code {
  text-align: center;
  margin-top: 40px;
}

.qr-code img {
  max-width: 100%;
  height: auto;
}

.powered-by { 
 position: absolute; 
 bottom: 10px;
 left: 0; 
 right: 0; 
 width: 100%; 
 font-size: 20px; 
 color: ; 
 text-align: center; 
 font-family: Poppins;
 } 
  
  
 .powered-by a { 
 color: #21c4ff; 
 text-decoration: none; 
 } 
  
 .powered-by a:hover { 
 color: red; 
 }